include pigar/.db.sqlite3
include CHANGELOGS.rst
include README.rst
include README-PYPI.rst
include LICENSE
include makefile
include pigar/tests/fake_simple_html.txt
include pigar/tests/fake_top_level.txt
include pigar/tests/fake_reqs.txt
include pigar/tests/imports_example/example1.py
include pigar/tests/imports_example/example2.py
include pigar/tests/imports_example/example3.py
include pigar/tests/imports_example/mainfoobar.py
include pigar/tests/imports_example/subbar/bar.py
include pigar/tests/imports_example/subfoo/foo.py
