include pigar/.db.sqlite3
include CHANGELOG.md
include README.md
include LICENSE
include makefile

include pigar/_vendor/README.md
include pigar/_vendor/vendor.txt
recursive-include pigar/_vendor *LICENSE*
recursive-include pigar/_vendor *COPYING*
recursive-include pigar/_vendor *.pem
recursive-include pigar/_vendor py.typed
