name: PyCI
on:
  pull_request:
  push:
    branches:
      - "main"
      - "release-**"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Check if Git LFS is working"
        run: '[ $(stat -c%s "pigar/.db.sqlite3") -gt $((1024 * 1024)) ] || { echo "File is not larger than 1MiB"; exit 1; }'
      - name: Upgrade pip
        run: pip install --upgrade pip
      - name: Run tests with requirements.txt
        run: |
          python -m venv venv-requirements-txt
          source venv-requirements-txt/bin/activate
          pip install -r requirements/py${{ matrix.python-version }}.txt
          python -m unittest discover pigar/tests/ -t . -v
      - name: Run tests with pip install -e
        run: |
          python -m venv venv-pip-e
          source venv-pip-e/bin/activate
          pip install -e .
          python -m unittest discover pigar/tests/ -t . -v
          pigar --version
